{% extends "funcionarios/plantilla.html" %}

{% block titulo %} Login IGP {% endblock %}

{% block contenido %}

    <div class="card">
        <div class="card-header">Editar Cliente</div>
        <div class="card-body">
            <h4 class="card-title">Editar Clientes IGP</h4>
            {% include "funcionarios/usuarios/formulario.html" %}
        </div>
        <div class="card-footer text-muted">© 2024 - Creado por: Proyecto Área 51 - All Rights Reserved</div>
    </div>
    
    
{% endblock %}