{% extends "clientes/plantClient.html" %}

{% block contenido %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Solicitudes</h4>                 
        </div>
        
        <div class="card-body"></div>
            <div class="table-responsive">
                <table class="table table-secondary text-center align-middle">
                <table class ="table table-primary"> 
                    <thead>
                        <tr>
                            <th scope ="col">NIT</th>
                            <th scope ="col">Fecha de solicitud</th>
                            <th scope ="col">Nombre Cliente</th>
                            <th scope ="col">Nombre Edificio</th>
                            <th scope ="col">Ciudad</th>
                            <th scope ="col">Direccion</th>
                            <th scope ="col">Telefono</th>
                            <th scope ="col">Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solicitud in solicitudesAdmin %}
                            <tr class ="">
                                <td>{{solicitud.nitSold}}</td>
                                <td>{{ solicitud.fecha_de_solicitud|date:"Y-m-d" }}</td>
                                <td>{{solicitud.nombre_cliente}}</td>
                                <td>{{solicitud.nombre_edificio}}</td>
                                <td>{{solicitud.ciudad_cliente}}</td>
                                <td>{{solicitud.direccion_cliente}}</td>
                                <td>{{solicitud.tel_admin}}</td>
                                <td>{{solicitud.correo_admin}}</td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>       
        </div>
    </div>


{% endblock %}
