{% extends "funcionarios/plantilla.html" %}

{% block contenido %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Productos</h4>
            <div class="row justify-content-end">
                <a href="{% url 'crear_prod' %}" style="background-color: #18962d; color: white; border: none; padding: 9px; border-radius: 10px; cursor: pointer; text-decoration: none;">Agregar Producto</a>
            </div>                        
        </div>
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-secondary text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col">IDProd</th>
                            <th scope="col">Descripcion Producto</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Foto de Referencia</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Acciones</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                            <tr>
                                <td scope="row">{{ producto.idProd }}</td>
                                <td>{{ producto.nombreProd }}</td>
                                <td>{{ producto.marcaProd }}</td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <img src="{{ producto.fotoProd.url }}" alt="Foto_producto" width="100px">
                                </td>
                                <td>{{ producto.modeloProd }}</td>
                                <td>
                                    <a class="btn btn-info" href="{% url 'editar_prod' producto.idProd %}" role="button">Editar</a>      
                                    |                         
                                    <a class="btn btn-danger sombra-boton" href="{% url 'borrar_prod' producto.idProd %}" role="button">Borrar</a>
                                </td>                                                   
                            </tr>
                        {% endfor %}   
                    </tbody>
                </table>
            </div>                        
        </div>
    </div>
{% endblock %}